<div>
    <h2>
        <span>Adresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-adresse" [routerLink]="['/', { outlets: { popup: ['adresse-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Adresse
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="adresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Numero</span></th>
            <th><span>Compl Num</span></th>
            <th><span>Rue</span></th>
            <th><span>Code Postal</span></th>
            <th><span>Ville</span></th>
            <th><span>Pays</span></th>
            <th><span>Personne</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adresse of adresses ;trackBy: trackId">
                <td><a [routerLink]="['../adresse', adresse.id ]">{{adresse.id}}</a></td>
                <td>{{adresse.numero}}</td>
                <td>{{adresse.complNum}}</td>
                <td>{{adresse.rue}}</td>
                <td>{{adresse.codePostal}}</td>
                <td>{{adresse.ville}}</td>
                <td>{{adresse.pays}}</td>
                <td>
                    <div *ngIf="adresse.personne">
                        <a [routerLink]="['../personne', adresse.personne?.id ]" >{{adresse.personne?.prenom + ' ' + adresse.personne?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../adresse', adresse.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adresse/'+ adresse.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adresse/'+ adresse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
